h3{
    font-family: NoirStd ;
    color: #00668f !important;
}
p{
    font-family: NoirStd ;
    color: #00668f !important;


}
.section-shaped{
    background-image: url('../../assets/img/theme/Photobb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.img-fluid {
    max-width: 500%;
    height: 200%;
}