.text-muted{
    color: #00668f !important;
    font-family: NoirStd ;
  }
  .d-block{
    color: #00668f;
    font-family: NoirStd ;
  }
  .display-3{
    color: #00668f;
    font-family: NoirStd ;
  }