<nav class="fade-Right">
  <ul>
    <li  [routerLink]="['/home']">
      <div class="home-icon">
     
        <i class="fa fa-home fa-2x " style="color: #00668f;"></i>

       </div>
    </li>
    <li  [routerLink]="['/about']">
      <div class="about-icon">
       
        <i class="fa fa-user fa-2x justifiy-content-center" style="color: #00668f;"></i>

      </div>
    </li>
    <li [routerLink]="['/whyezicodes']">
      <div class="work-icon">
        <i class="fa  fa-question fa-2x " style="color: #00668f;" ></i>
  
      </div>
    </li>

    <li  [routerLink]="['/eziservices/digitalsolutionsandinnovationsKeyservices']">
      <div class="work-icon">
        <i class="fa  fa-handshake-o fa-2x " style="color: #00668f;" ></i>
  
      </div>
    </li>
    <li [routerLink]="['/contact']">
      <div class="mail-icon"  >
        <i class="fa fa-envelope fa-2x " style="color: #00668f;"></i>

        </div>
     
    </li>
  </ul>
</nav>

